<div class="contact-icons">
  {%- if site.email -%}
  <a href="mailto:{{ site.email | encode_email }}" title="email">
    <span class="social-icon-box"><i class="fas fa-envelope"></i></span>
    <span class="social-label">EMAIL</span>
  </a>
  {%- endif -%}

  {%- if site.scholar_userid -%}
  <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">
    <span class="social-icon-box"><i class="ai ai-google-scholar"></i></span>
    <span class="social-label">SCHOLAR</span>
  </a>
  {%- endif -%}

  {%- if site.orcid_id -%}
  <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID">
    <span class="social-icon-box"><i class="ai ai-orcid"></i></span>
    <span class="social-label">ORCID</span>
  </a>
  {%- endif -%}

  {%- if site.github_username -%}
  <a href="https://github.com/{{ site.github_username }}" title="GitHub">
    <span class="social-icon-box"><i class="fab fa-github"></i></span>
    <span class="social-label">GITHUB</span>
  </a>
  {%- endif -%}

  {%- if site.linkedin_username -%}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
    <span class="social-icon-box"><i class="fab fa-linkedin"></i></span>
    <span class="social-label">LINKEDIN</span>
  </a>
  {%- endif -%}

  {%- if site.twitter_username -%}
  <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
    <span class="social-icon-box"><i class="fab fa-twitter"></i></span>
    <span class="social-label">X</span>
  </a>
  {%- endif -%}

  {%- if site.telegram_username -%}
  <a href="https://telegram.me/{{ site.telegram_username }}" title="Telegram">
    <span class="social-icon-box"><i class="fab fa-telegram"></i></span>
    <span class="social-label">TG</span>
  </a>
  {%- endif -%}

  {%- if site.wechat_qr -%}
  <a id="WeChatBtn" title="WeChat">
    <span class="social-icon-box"><i class="fab fa-weixin"></i></span>
    <span class="social-label">WECHAT</span>
  </a>
  {%- endif -%}
</div>
